body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

article {
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 30px;
    max-width: 800px;
    width: 90%;
    box-sizing: border-box;
}

header {
    text-align: center;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
}

.profile p {
    line-height: 1.5;
    align-self:flex-start
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.profile figcaption {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

h3 {
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 0;
}

nav {
    margin-bottom: 20px;
}

nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content:space-between;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #0077ff;
}

a:focus, a:focus-visible {
  outline: 3px solid #0077ff;  
  outline-offset: 3px;          
  border-radius: 4px;
  background-color: #e6f0ff;    
}

main {
    display: flex;
    align-items:flex-start;
    width: 80%;
    margin: 0 10px;
    justify-content: space-between;
}

main h3 {
    margin: 0;
    padding: 0;
}
 
main ul {
    list-style: none;
    padding: 0;
}


@media (max-width: 550px) {
  article {
    padding: 20px;
    max-width: 100%;
  }

  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .profile img {
    width: 120px;
    height: 120px;
  }

  

  main {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  main section {
    width: 100%;
  }

}